@tailwind base;
@tailwind components;
@tailwind utilities;

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.bi-search {
    font-size: 24px;
    cursor: pointer;
}